.todo-search--container {
    width: 100%;
    min-width: 300px;
    max-width: 380px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px auto;
}

.todo-search--container input {
    height: 40px;
    text-align: center;
    width: 65%;

    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
  
  .todo-search--container input::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.todo-search--container input:-moz-placeholder {
  text-align: center;
}